{% extends 'base.html.twig' %}
{% form_theme registerForm _self %}

{% block body %}
    {{ form_start(registerForm) }}
    <div class="mb-3">
        {{ form_row(registerForm.email) }}
    </div>
    <div class="mb-3">
        {{ form_row(registerForm.password) }}
    </div>
    <div class="mb-3">
        {{ form_row(registerForm.fullName) }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registerForm) }}
{% endblock body %}

{% block _register_password_row %}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.first, {label: 'Password: '}) }}
        </div>
        <div class="col-6">
            {{ form_row(form.second, {label: 'Confirm Password: '}) }}
        </div>
    </div>
{% endblock _register_password_row %}

{% block _register_email_row %}
    <div class="row">
        <div class="col-12">
            {{ form_label(form) }}
            <div class="input-group mb-3">
                {{ form_widget(form) }}
                <span class="input-group-text" id="basic-addon2">@ehei.ac.ma</span>
            </div>
            {{ form_errors(form) }}  {# <-- CETTE LIGNE DOIT ÊTRE LÀ #}
        </div>
    </div>
{% endblock _register_email_row %}
